[submodule "/home/mbarkmin/.config/base16-shell"]
	path = /home/mbarkmin/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/base16-i3"]
	path = .config/base16-i3
	url = https://github.com/khamer/base16-i3.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:mikebarkmin/base16-shell.git
[submodule ".config/base16-rofi"]
	path = .config/base16-rofi
	url = https://github.com/0xdec/base16-rofi.git
