[user]
	email = mike@barkmin.eu
	name = Mike Barkmin
	signingkey = B29BB3755EB40BF4
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[commit]
  verbose = true
	gpgsign = true
[merge]
  tool = nfugitive
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[pull]
	rebase = true
